@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap");

div
{
    display: flex;
    align-items:center;
}

img 
{  display: inline-block;
   width: 55px;
   margin-right: 15px;
}

h1
{   
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 28.11pt;
    color: #04146c;
    
}

h2, h3, h4
{   display: inline-block;
    font-family: 'Mulish', sans-serif;
    font-weight: 700; 
    font-size: 16.17pt;
    color: #0a2ff1;
}

p
{  
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 14.98pt;
    color: #04146c;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
}
